@model IEnumerable<AseTrader.Models.User>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager


@{
    ViewData["Title"] = "Index";
}

<h1>Users</h1>


<form asp-controller="Users" asp-action="Index">
    <p>
        First name: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
                @if (User.Identity.Name == item.UserName)
                {
                    <td>
                        <a asp-action="Details" asp-route-id="@item.Id">View Profile</a>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-action="Subscribe" asp-route-id="@item.Id" class="small-button">Subscribe</a> |
                        <a asp-action="Unsubscribe" asp-route-id="@item.Id" class="small-button">Unsubscribe</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">View Profile</a>
                    </td>
                }
        </tr>
            }
    </tbody>
</table>
